.hot-brand-area {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;

  .hot-brand-title {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 15px;
  }

  .hot-brand-list {
    width: 100%;
    height: 250px;
    display: flex;
    transition: 0.5s;

    .hot-brand-item-area {
      flex: none;
      width: calc(100% + 20px);
      margin: 10px -10px;
      font-size: 0;
    }

    .hot-brand-item {
      display: inline-block;
      line-height: 80px;
      text-align: center;
      width: calc((100% / 6) - 20px);
      height: 80px;
      background-color: #efefef;
      margin: 30px 10px 10px 10px;
      border-radius: 15px;

      .hot-item-title {
        font-size: 15px;
        font-weight: bolder;
      }
    }
  }

  .hot-brand-btn {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 20px 0px 20px 0px;
    justify-content: center;

    .fa-chevron-left {
      margin-right: 15px;
    }

    .fa-chevron-right {
      margin-left: 15px;
    }
  }
}
