// main
.slider {
  height: 600px;
  position: relative;

  .prev-btn {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    left: 10px;
    background-color: transparent;
    bottom: 50%;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-left: 5px;
      opacity: 0.5;
    }
  }

  .next-btn-play {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: transparent;
    right: 10px;
    bottom: 50%;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-left: 10px;
      opacity: 0.5;
    }

    .play-btn-icon {
      width: 25px;
      margin-right: 15px;
    }

    .stop-btn-icon {
      width: 25px;
      margin-right: 15px;
    }
  }
  .slideShow {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;

    .slide-item {
      height: 100%;
      width: 100%;
      display: flex;

      .slide-item-image {
        height: 600px;
        object-fit: cover;
        flex: none;
      }
    }
  }
}

.slideShow:hover {
  .prev-btn {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .next-btn-play {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.our-pick {
  padding: 50px 150px 0px 150px;

  .ourpick-title {
    text-align: center;
    font-size: 32px;
    padding: 0px 0px 30px 0px;
  }
}

.hot-brand-area {
  width: 1280px;
  margin: 120px auto 0;

  .hot-brand-title {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
  }
}

.our-special48 {
  margin: 20px auto 0;
  width: 1280px;

  .our-special48-head {
    font-size: 30px;
    text-align: center;
    padding: 0px 0px 25px 0px;
    margin: 100px 0px 30px 0px;
  }

  .our-special48-area {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    .our-special48-left {
      display: flex;

      .our-special48-item {
        position: relative;

        img {
          width: 435px;
          height: 600px;
          object-fit: cover;
        }

        .our48-title {
          position: absolute;
          bottom: 45px;
          left: 20px;
          font-size: 20px;
          font-weight: bolder;
          color: #fff;

          .our48-subtitle {
            font-size: 15px;
            font-weight: normal;
            margin-top: 7px;
          }
        }
      }

      .our-special48-subitem {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 15px 0px 15px;

        img {
          width: 200px;
          height: 292.5px;
          object-fit: cover;
        }

        a {
          position: relative;
          display: block;
          margin-top: 15px;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .our48-back {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 292.5px;
        transition: 0.5s;
        padding-top: 30px;

        p {
          display: none;
          padding: 2px 0px 0px 15px;
          color: #fff;
        }
        &:hover {
          padding-top: 0;
          background-color: rgba(0, 0, 0, 0.5);

          .our48-back-title {
            padding-top: 15px;
            font-weight: bolder;
          }

          .our48-price {
            margin-top: 10px;
            font-weight: lighter;
            text-decoration: line-through;
            font-size: 13px;
          }

          .our48-saleprice-title {
            font-weight: bolder;
            color: #dcc3fe;

            span {
              margin-left: 5px;
              color: #fff;
            }
          }

          p {
            display: block;
          }
        }
      }
    }

    .our-special48-right {
      display: flex;

      .our-special48-item {
        position: relative;

        img {
          width: 400px;
          height: 600px;
          object-fit: cover;
        }

        .our48-title {
          position: absolute;
          bottom: 45px;
          left: 20px;
          font-size: 20px;
          font-weight: bolder;
          color: #fff;

          .our48-subtitle {
            font-size: 15px;
            font-weight: normal;
            margin-top: 7px;
          }
        }
      }

      .our-special48-subitem {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px 15px 0px 15px;

        img {
          width: 200px;
          height: 292.5px;
          object-fit: cover;
        }

        a {
          position: relative;
          display: block;
          margin-top: 15px;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .our48-back {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 292.5px;
        transition: 0.5s;
        padding-top: 30px;

        p {
          display: none;
          padding: 2px 0px 0px 15px;
          color: #fff;
        }
        &:hover {
          padding-top: 0;
          background-color: rgba(0, 0, 0, 0.5);

          .our48-back-title {
            font-weight: bolder;
            padding-top: 15px;
          }

          .our48-back-title {
            padding-top: 15px;
            font-weight: bolder;
          }

          .our48-price {
            margin-top: 10px;
            font-weight: lighter;
            text-decoration: line-through;
            font-size: 13px;
          }

          .our48-saleprice-title {
            font-weight: bolder;
            color: #dcc3fe;

            span {
              margin-left: 5px;
              color: #fff;
            }
          }

          p {
            display: block;
          }
        }
      }
    }
  }
}

.our-pick-list {
  margin: 200px auto 0;
  width: 1280px;

  .our-pick-list-area {
    margin-bottom: 50px;
    width: 100%;

    .ourpick-list-ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -15px;
      height: 100%;
      padding: 0px -5px;

      li {
        width: 25%;
        padding: 0px 15px 0px 15px;

        .subtext {
          margin: 10px 0px 3px 0px;
          font-weight: bolder;
          font-size: 15px;
        }

        .title {
          margin-bottom: 50px;
        }

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
}
