//ProductList
.productlist {
  img {
    width: 400px;
    height: 528px;
  }

  .contents {
    padding: 0 10px;
    .contents-list {
      .sub-category {
        h1 {
          height: 40px;
          margin: 10px auto;
          padding-bottom: 50px;
          border-bottom: 2px solid #111;
          color: #111;
          font-size: 41px;
          font-weight: 700;
          line-height: 40px;
        }

        span {
          margin-left: 8px;
          color: #000;
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
        }
      }
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .left-filter {
    .filter-list {
      li {
        display: inline-block;

        button {
          display: block;
          height: 40px;
          margin: 10px;
          padding: 0 14px;
          border: 1px solid #e5e5e5;
          border-radius: 6px;
          color: #111;
          font-size: 15px;
          line-height: 38px;
        }
      }
    }
  }

  .right-filter {
    .filter-list {
      li {
        display: inline-block;

        span {
          margin: 10px;
          color: #111;
          font-size: 15px;
          line-height: 38px;
          cursor: pointer;
        }
      }
    }
  }
}

.products-list {
  .products {
    li {
      display: inline-block;
      margin: 9px;
      .info {
        span {
          display: block;
        }
        .brand {
          margin-top: 10px;
          color: #111;
          font-size: 14px;
          font-weight: 700;
        }
        .name {
          max-height: 18px;
          margin-top: 6px;
          overflow: hidden;
          font-size: 14px;
        }
        .price {
          margin-top: 8px;
          font-size: 14px;
          font-weight: 700;
        }
        .heart {
          margin-top: 23px;
          i {
            display: inline-block;
            width: 14px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }
      // a {
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   width: 100%;
      //   opacity: 0;
      // }
      // a:hover {
      //   opacity: 1;
      // }
    }
  }
}
