@import '../../styles/variables';

.productlist {
  img {
    width: 400px;
    height: 528px;
  }

  .contents {
    padding: 0 10px;
  }
}

.contents-list {
  .sub-category {
    h1 {
      height: 40px;
      margin: 10px auto;
      padding-bottom: 50px;
      border-bottom: 2px solid $color-gray900;
      color: $color-gray900;
      font-size: 41px;
      font-weight: 700;
      line-height: 40px;
    }

    span {
      margin-left: 8px;
      color: $color-black;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .left-filter {
    .filter-list {
      li {
        display: inline-block;
      }
      button {
        display: block;
        height: 40px;
        margin: 10px;
        padding: 0 14px;
        border: 1px solid $color-gray250;
        border-radius: 6px;
        color: $color-gray700;
        font-size: 15px;
        line-height: 38px;
      }
      button:after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: 900;
      }
    }
  }

  .right-filter {
    .filter-list {
      li {
        display: inline-block;
      }
      button {
        margin: 10px;
        color: $color-gray700;
        font-size: 15px;
        line-height: 38px;
        cursor: pointer;
      }
      .selected {
        font-weight: bold;
      }
    }
  }
}

.products {
  li {
    display: inline-block;
    margin: 9px;

    // a {
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    //   opacity: 0;
    // }
    // a:hover {
    //   opacity: 1;
    // }
  }

  .info {
    span {
      display: block;
    }
    .brand {
      margin-top: 10px;
      color: $color-gray800;
      font-size: 14px;
      font-weight: 700;
    }
    .name {
      max-height: 18px;
      margin-top: 6px;
      overflow: hidden;
      font-size: 14px;
    }
    .price {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 700;
    }
    .heart {
      margin-top: 23px;
      i {
        display: inline-block;
        width: 14px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
}

.filter-brand {
  width: 1240px;
  height: 200px;
  margin-left: 10px;
  background: $color-gray150;

  .brand-search {
    position: relative;
    top: 10px;
    left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-white;

    input {
      width: 230px;
      height: 30px;
      padding: 10px;
    }

    button {
      position: relative;
      top: 7px;
      right: 25px;
    }
  }
}

.panel {
  .panel-list {
    li {
      display: inline-block;
      width: 390px;
      padding: 30px 50px;
      color: $color-gray700;
      font-size: 15px;
    }
  }
}

.panel-inline {
  display: flex;
  align-items: center;
  width: 1240px;
  height: 100px;
  margin-left: 10px;
  background: $color-gray150;

  .panel-list {
    li {
      display: inline-block;
      width: 200px;
      padding: 30px;
      color: $color-gray700;
      font-size: 15px;
    }
  }
}
