$color-black: black;
$color-white: #ffffff;
$color-gray100: #f9f9f9;
$color-gray150: #f5f5f5;
$color-gray200: #efefef;
$color-gray250: #e5e5e5;
$color-gray350: #d1d1d1;
$color-gray400: #c9c9c9;
$color-gray450: #b0b0b0;
$color-gray500: #969696;
$color-gray600: #767676;
$color-gray700: #555555;
$color-gray800: #424242;
$color-gray900: #111111;
$color-purpule300: #dcc3fe;
$color-purpule500: #7e00ff;
$color-mint300: #00bfb2;
$color-mint500: #00a197;
$color-red500: #f44338;
$color-blue500: #2d56e2;
