@import '../../../styles/variables';

.filter-brand {
  width: 1240px;
  height: 200px;
  margin-left: 10px;
  background: $color-gray150;

  .brand-search {
    position: relative;
    top: 10px;
    left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-white;

    input {
      width: 230px;
      height: 30px;
      padding: 10px;
    }

    button {
      position: relative;
      top: 7px;
      right: 25px;
    }
  }
}

.panel {
  .panel-list {
    li {
      display: inline-block;
      width: 390px;
      padding: 30px 50px;
      color: $color-gray700;
      font-size: 15px;

      span {
        margin-left: 7px;
      }
    }
  }
}
