@import '../../styles/variables';

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Pretendard, sans-serif;

  .signin-title {
    margin-bottom: 75px;
    font-size: 40px;
    font-weight: 400;
  }

  .signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 510px;

    .signin-form {
      .signin-box {
        .signin-box-in {
          position: relative;
          margin-bottom: 30px;
          padding-left: 100px;

          .signin-text {
            position: absolute;
            top: 10px;
            left: 0;
            font-size: 15px;

            &.required:after {
              content: '';
              display: inline-block;
              width: 5px;
              height: 5px;
              margin: 1px 0 0 4px;
              border-radius: 50%;
              background-color: #8e1fff;
              vertical-align: top;
            }
          }

          .signin-input {
            width: 420px;
            height: 39px;
            padding-left: 15px;
            border: 1px solid #e5e5e5;
            outline: none;

            &:focus {
              outline: 1px solid black;
            }
          }
          .check-password {
            margin-top: 30px;
          }
        }
      }
      .valid-status {
        color: #7d7d7d;
        font-size: 14px;

        .valid-status-type,
        .valid-status-length {
          margin-left: 3px;
        }

        .valid-check-type,
        .valid-check-length {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-top: 3px;
          background-image: url(../../images/icon/signin/valid-check.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;

          .check {
            display: none;
          }
        }
        .valid-check-length {
          margin-left: 10px;
        }
      }
      .term-box {
        .term-title {
          font-size: 14px;
          font-weight: 500;
        }
        .term-check-all {
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            display: none;

            & + label {
              position: relative;

              &:after {
                content: '';
                position: absolute;
                top: -1px;
                left: 0px;
                width: 18px;
                height: 18px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
              }
            }
          }

          input[type='checkbox']:checked {
            &:checked + label {
              &:after {
                content: '';
                border-radius: 5px;
                background: url(../../images/icon/signin/term-check.svg)
                  no-repeat;
                background-color: #8e1fff;
                background-position: center;
                background-size: 10px;
              }
            }
          }

          .term-check-all-text {
            margin-top: 15px;
            padding-left: 30px;
          }
        }
        .term-list-box {
          margin-top: 20px;
          padding: 5px;
          border: 1px solid #e5e5e5;

          .term-list {
            margin: 15px;

            input[type='checkbox'] {
              display: none;

              & + label {
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  top: -1px;
                  left: 0px;
                  width: 18px;
                  height: 18px;
                  border: 1px solid #e5e5e5;
                  border-radius: 5px;
                }
              }
            }

            input[type='checkbox']:checked {
              &:checked + label {
                &:after {
                  content: '';
                  border-radius: 5px;
                  background: url(../../images/icon/signin/term-check.svg)
                    no-repeat;
                  background-color: #8e1fff;
                  background-position: center;
                  background-size: 10px;
                }
              }
            }

            .term-check-text {
              padding-left: 25px;
              color: #888888;
            }

            .btn-accordion {
              display: inline-block;
              width: 20px;
              height: 20px;
              background-image: url(../../images/icon/signin/term-check-off.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;

              &.open {
                transform: rotate(180deg);
              }

              //background:url() no-repeat center/contain;

              .blind {
                display: none;
              }
            }

            .agree-top {
              display: flex;
              justify-content: space-between;
            }

            .online-term {
              width: 100%;
              max-width: 520px;
              max-height: 150px;
              padding: 19px;
              overflow-y: auto;
              background: #f5f5f5;

              .online-term-title {
                margin: 7px 0;
                color: #777777;
                font-size: 20px;
              }
              .online-term-contents {
                color: #777777;
                font-size: 14px;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .join-button-box {
        text-align: center;

        .join-button {
          width: 255px;
          height: 60px;
          margin-top: 60px;
          border: 1px solid #111;
          background-color: #111;
          color: #fff;
          font-size: 17px;
        }
      }
    }
  }
}
