// Payment

.container.payment {
  padding-bottom: 100px;
  .form-area {
    .form-box {
      display: flex;
      & + .form-box {
        margin-top: 10px;
      }
      * + * {
        margin-left: 8px;
      }
    }
    .check-box {
      position: relative;
      margin-top: 10px;
      padding-left: 30px;
      label {
        line-height: 20px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 18px;
          height: 18px;
          margin-top: -10px;
          border: 1px solid #e5e5e5;
          border-radius: 2px;
        }
      }
      input:checked + label {
        &:before {
          border: 1px solid #8e1fff;
          background: #8e1fff;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 5px;
          width: 8px;
          height: 4px;
          margin-top: -4px;
          transform: rotate(-45deg);
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
        }
      }
    }
  }

  .section-title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }

  .table-area {
    margin-top: 40px;
    .type-product {
      width: 100%;
      table-layout: fixed;
      th,
      td {
        text-align: center;
      }
      th {
        padding: 12px 0;
        span {
          color: #444;
          font-weight: 400;
        }
      }
      td {
        padding: 25px 0;
        p {
          color: #828282;
        }
      }
      thead {
        border-bottom: 1px solid #000;
      }
      tbody {
        tr {
          border-bottom: 1px solid #e5e5e5;
        }
      }

      .product-data-box {
        display: flex;
        position: relative;
        align-items: center;
        min-height: 130px;
        padding-left: 120px;
        .img-box {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100px;
          margin-right: 20px;
          transform: translateY(-50%);
          img {
            width: 100%;
          }
        }
        .info-box {
          text-align: left;
          .tit {
            display: block;
            color: #828282;
            font-size: 14px;
          }
          .data {
            margin-top: 6px;
            span {
              color: #828282;
              font-size: 14px;
            }
          }
          .number {
            display: block;
            margin-top: 6px;
          }
        }
      }
    }
  }

  .delivery-info-area {
    position: relative;
    margin-top: 70px;
    padding-top: 40px;
    border-top: 1px solid #444;
    .form-list {
      width: 540px;
      margin-top: 30px;
      li {
        position: relative;
        padding-left: 140px;
        & + li {
          margin-top: 20px;
        }
        .tit {
          position: absolute;
          top: 8px;
          left: 0;
          font-size: 15px;
          font-weight: 400;
          &:after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 0 0 4px;
            border-radius: 50%;
            background: #8e1fff;
            vertical-align: top;
          }
        }
        input[type='text'],
        input[type='password'] {
          width: 100%;
          height: 40px;
          border: 1px solid #e5e5e5;
        }
        .btn.address {
          min-width: 100px;
          height: 40px;
          border: 1px solid #e5e5e5;
        }
      }
    }
    .btn.reset {
      display: inline-block;
      position: absolute;
      top: 25px;
      left: 440px;
      padding: 0 20px;
      border: 1px solid #444;
      background: #444;
      color: #fff;
      line-height: 38px;
    }
  }

  // 결제수단
  .payment-way {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #000;
    .tit {
      font-size: 20px;
      font-weight: 700;
    }
    .payment-check-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-right: -10px;
      li {
        width: 25%;
        height: 40px;
        padding-right: 10px;
        .check-box {
          position: relative;
          height: 100%;
          label {
            display: block;
            position: relative;
            padding-left: 30px;
            line-height: 40px;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 20px;
              height: 20px;
              transform: translateY(-50%);
              border: 1px solid #e5e5e5;
              border-radius: 50%;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 4px;
              width: 12px;
              height: 12px;
              transform: translateY(-50%);
              border: 1px solid #e5e5e5;
              border-radius: 50%;
              background: #e5e5e5;
            }
          }
          input:checked + label {
            &:before {
              border: 1px solid #8e1fff;
            }
            &:after {
              background: #8e1fff;
            }
          }
        }
      }
    }
  }

  // 결제총액
  .payment-total-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    padding: 70px;
    background: #fafafa;
    .sign {
      padding: 0 35px;
      font-size: 40px;
      font-weight: 700;
    }
    .price-box {
      font-size: 27px;
      font-weight: 500;
      text-align: center;
      &.discount {
        color: #8e1fff;
        .txt {
          color: #8e1fff;
        }
      }
      .txt {
        margin-top: 10px;
        color: #444;
        font-size: 15px;
      }
    }
  }

  //결제버튼
  .btn-area {
    margin-top: 40px;
    text-align: center;
    .info-txt {
      margin-bottom: 12px;
    }
    .btn.btn-payment {
      width: 250px;
      height: 60px;
      background: #000;
      color: #fff;
      font-size: 17px;
      font-weight: 700;
    }
  }
}
