// common
.btn-tooltip {
  width: 20px;
  height: 20px;
  background: url('../../images/icon/btn-sprite.png') no-repeat 0 -945px;
}

//별점
.star-point {
  position: relative;
  padding-left: 100px;
  font-size: 16px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 20px;
    background: url(../../images/icon/star-spripe.png) no-repeat;
  }
  &.point-0:before {
    background-position: 0 0;
  }
  &.point-0-5:before {
    background-position: 0 -20px;
  }
  &.point-1:before {
    background-position: 0 -40px;
  }
  &.point-1-5:before {
    background-position: 0 -60px;
  }
  &.point-2:before {
    background-position: 0 -80px;
  }
  &.point-2-5:before {
    background-position: 0 -100px;
  }
  &.point-3:before {
    background-position: 0 -120px;
  }
  &.point-3-5:before {
    background-position: 0 -140px;
  }
  &.point-4:before {
    background-position: 0 -160px;
  }
  &.point-4-5:before {
    background-position: 0 -180px;
  }
  &.point-5:before {
    background-position: 0 -200px;
  }
}

//product-selector-area
.product-selector-area {
  &.type-send {
    padding-top: 16px;
    border-top: 1px solid #e5e5e5;
  }
  margin-top: 32px;
  .tit {
    font-size: 14px;
  }
  .select-list {
    display: flex;
    margin-top: 16px;
    li {
      width: 80px;
      height: 40px;
      & + li {
        margin-left: 10px;
      }
    }
  }
  .txt-box {
    margin-top: 10px;
    .txt {
      color: #767676;
    }
    b {
      color: #8e1fff;
      font-weight: 400;
    }
  }
}

//라디오,체크박스 폼박스
.check-box {
  position: relative;
  label {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    text-align: center;
  }
  input:checked + label {
    border: 1px solid #8e1fff;
  }
  input:disabled + label {
    border: 1px solid #e5e5e5;
    color: #c9c9c9;
  }
}

// btn-area
.btn-area {
  display: flex;
  button {
    display: block;
    width: 100%;
    height: 52px;
    font-size: 17px;
  }
  button + button {
    margin-left: 10px;
  }
  & + .btn-area {
    margin-top: 20px;
  }

  .btn.purple {
    border: 1px solid #8e1fff;
    background: #8e1fff;
    color: #fff;
  }
  .btn.black {
    border: 1px solid #000;
    background: #000;
    color: #fff;
  }
  .btn.add {
    border: 1px solid #e5e5e5;
    font-size: 16px;
  }
}
// tab-wrap type-border-bottom
.tab-wrap {
  .tab-header {
    display: flex;
  }
  .tab-container {
    padding-top: 40px;
    .tab-item {
    }
  }
}
// tab : type
.tab-wrap.type-border-bottom {
  .tab-header {
    border-bottom: 2px solid #e5e5e5;
    button {
      position: relative;
      min-width: 160px;
      height: 40px;
      &.active {
        color: #8e1fff;
        font-weight: 700;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #8e1fff;
        }
      }
    }
  }
}
// table : type-horizon
.table-area {
  .info-txt {
    margin-top: 30px;
    color: #767676;
  }
}
.table {
  width: 100%;
  table-layout: fixed;
  thead {
    background: #fafafa;
  }
  tbody {
    tr {
      border-bottom: 1px solid #efefef;
    }
  }
  th,
  td {
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    span {
      color: #767676;
      font-size: 14px;
    }
  }
  td span {
    color: black;
  }
}
.table.type-horizon {
  th[colspan]:not(:last-child) {
    border-right: 1px solid #efefef;
  }
  td {
    span {
      color: #000;
      font-weight: 700;
    }
    & + td {
      border-left: 1px solid #efefef;
    }
  }
}

//bullet-list
.bullet-list {
  margin-top: 15px;
  li {
    position: relative;
    padding-left: 10px;
    color: #767676;
    font-size: 14px;
    line-height: 22px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 2px;
      margin-top: -1px;
      border-radius: 50%;
      background: #767676;
    }
  }
}

// 상품상세 - section-detail
.product-detail .section-detail {
  .inner-small {
    display: flex;
    justify-content: space-between;
    .product-img-area {
      .product-main-img {
        width: 477px;
        height: 630px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .product-img-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        li {
          width: 70px;
          margin-top: 15px;
          margin-left: 12px;
          &.active {
            outline: 2px solid #8e1fff;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .product-data-area {
      min-width: 440px;
      margin-left: 40px;

      .product-name-link {
        a {
          display: inline-block;
          position: relative;
          padding-right: 20px;
          color: black;
          font-size: 20px;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            right: 0;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border-top: 1px solid black;
            border-right: 1px solid black;
          }
        }
      }
      .product-detail-area {
        .product-detail-tit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          .tit {
            font-size: 27px;
          }
          .share-box {
            position: relative;
            &:hover .share-data-box {
              display: flex;
            }
            .btn.share {
              width: 30px;
              height: 30px;
              background: url('../../images/icon/sns-icons.png') no-repeat 0 0;
            }
            .share-data-box {
              display: none;
              position: absolute;
              top: -16px;
              right: 0;
              align-items: center;
              padding: 20px;
              background: #fff;
              box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);

              li {
                width: 30px;
                height: 30px;
                margin: 0 10px;
                .btn {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: url(../../images/icon/sns-icons.png) no-repeat
                    center;
                  &.share-log {
                    background-position: center -298px;
                  }
                  &.share-facebook {
                    background-position: center -148px;
                  }
                  &.share-kakao {
                    background-position: center -58px;
                  }
                  &.share-pinter {
                    background-position: center -446px;
                  }
                  &.share-url {
                    background-position: center -508px;
                  }
                }
              }
            }
          }
        }

        .product-price-area {
          display: flex;
          justify-content: space-between;
          margin-top: 12px;
          .price-box {
            .price {
              color: #8e1fff;
              font-size: 25px;
              font-weight: 400;
            }
            .price-cancel {
              margin-left: 10px;
              color: #a4a4a4;
              font-size: 19px;
              text-decoration: line-through;
            }
          }
          .discount-box {
            display: flex;
            align-items: center;
            .percent {
              color: #8e1fff;
              font-size: 25px;
              font-weight: 400;
            }
            .btn-tooltip {
              margin-left: 5px;
            }
          }
        }

        .code-name {
          margin-top: 20px;
          color: #767776;
          font-size: 14px;
          span {
            display: inline-block;
          }
          span + span {
            position: relative;
            margin-left: 5px;
            padding-left: 10px;
            &:before {
              content: '/';
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        .review-area {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          padding: 13px 0;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          .review-box {
            .review-move {
              position: relative;
              margin-left: 5px;
              padding-right: 10px;
              padding-left: 5px;
              color: black;
              font-size: 16px;
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: -1px;
                width: 2px;
                height: 2px;
                margin-top: -1px;
                border-radius: 50%;
                background: #000;
              }
              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                right: 0;
                width: 6px;
                height: 6px;
                transform: rotate(45deg);
                border-top: 1px solid #000;
                border-right: 1px solid #000;
              }
            }
          }
          .link-box {
            position: relative;
            padding: 0 70px;
            border-left: 1px solid #ddd;
            .heart {
              position: relative;
              padding-left: 40px;
              &.active:before {
                background-position: 0 bottom;
              }
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 30px;
                height: 30px;
                margin-top: -16px;
                background: url(../../images/icon/heart-stripe.png) no-repeat 0
                  0/30px;
              }
            }
          }
        }

        .benefit-area {
          margin-top: 30px;
          li {
            position: relative;
            padding-left: 100px;
            & + li {
              margin-top: 6px;
            }
            .tit {
              position: absolute;
              top: 0;
              left: 0;
              font-weight: 400;
            }
            .txt-box {
              & + .txt-box {
                margin-top: 6px;
              }
              p {
                margin-top: 6px;
                color: #666;
                span {
                  color: #8e1fff;
                }
              }
            }
            .btn-tooltip {
              margin-left: 5px;
            }
          }
        }

        .product-total-result {
          margin-top: 30px;
          padding-top: 16px;
          border-top: 1px solid #e5e5e5;
          .data-box {
            display: flex;
            .size {
              color: black;
              font-size: 14px;
            }
            .date {
              position: relative;
              padding-left: 10px;
              color: #8e1fff;
              font-size: 14px;
              &:before {
                content: '/';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 2px;
              }
            }
          }
          .product-quantity-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            .quantity-numbering {
              position: relative;
              width: 110px;
              height: 32px;
              padding: 0 32px;
              border: 1px solid #e5e5e5;
              button {
                display: block;
                position: absolute;
                top: 0;
                width: 32px;
                height: 100%;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 0;
                  width: 32px;
                  height: 30px;
                  background: url(../../images/icon/plus-minus-stripe.png)
                    no-repeat;
                  background-size: 12px auto;
                }
                &.minus {
                  left: 0;
                  &:before {
                    background-position: center -57px;
                  }
                }
                &.add {
                  right: 0;
                  &:before {
                    background-position: center 10px;
                  }
                }
              }
              .num {
                display: block;
                border-right: 1px solid #e5e5e5;
                border-left: 1px solid #e5e5e5;
                line-height: 30px;
                text-align: center;
              }
            }
            .price-box {
              font-size: 14px;
              .price {
                font-size: 19px;
                font-weight: 500;
              }
            }
          }
          .btn-wrap {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

.product-detail .section-banner {
  margin-top: 40px;
  .banner-wrap {
    height: 100px;
    overflow: hidden;
    background: pink;
    .banner-swiper {
      display: flex;
      flex-wrap: nowrap;
      width: 3720px;
      height: 100%;
      .swiper-item {
        width: 1240px;
        height: 100%;
        background: #efefef;
        &.item1 {
          background: url(../../images/productdetail/banner-1.jpg) no-repeat
            center/cover;
        }
        &.item2 {
          background: pink;
        }
        a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding-left: 80px;
          .text-box {
            em {
              display: block;
              font-size: 12px;
            }
            b {
              display: block;
              margin-top: 8px;
              margin-bottom: 4px;
              font-size: 16px;
              font-weight: 700;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.product-detail .section-products-data {
  margin-top: 80px;
  .tab-list {
    display: flex;
    li {
      width: 100%;
      height: 54px;
      button {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 4px solid #e5e5e5;
        font-size: 17px;
        &.active {
          border-color: #8e1fff;
          color: #8e1fff;
          font-weight: 700;
        }
      }
    }
  }

  .products-area {
    margin-top: 65px;
    .txt-area {
      & + .txt-area {
        margin-top: 30px;
      }
      .txt-header {
        b {
          font-size: 25px;
          font-weight: 700;
        }
        .btn-tooltip {
          margin-left: 5px;
          vertical-align: 9px;
        }
      }
      p {
        margin-top: 10px;
        font-size: 14px;
        word-wrap: break-word;
        word-break: keep-all;
      }
    }
    .img-area {
      margin-top: 65px;
      .tit {
        margin-bottom: 35px;
        font-size: 25px;
      }
      .txt {
        margin-bottom: 35px;
        font-size: 14px;
        word-wrap: break-word;
        word-break: keep-all;
      }
      .img-list {
        li + li {
          margin-top: 10px;
        }
        li {
          text-align: center;
          img {
            max-width: 750px;
          }
        }
      }
    }
    .size-guide-area {
      margin-top: 95px;
      .tit {
        font-size: 25px;
      }
      .tab-wrap {
        margin-top: 35px;

        .first-child-tl .table th:first-child {
          text-align: left;
        }
      }
    }
  }
}
