// Css 주형님의 혼이 담긴….
.cartfilled {
  .cartfilled-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    height: 105px;
    .top-left {
      input {
      }
      .check-all {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .delete-chosen-goods {
      width: auto;
      height: 36px;
      padding: 0 20px;
      border: 1px solid #e5e5e5;
      font-size: 14px;
      line-height: 34px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #b8b8b8;
    color: #767676;
    font-size: 14px;

    .goods-info {
      width: 560px;
      text-align: center;
    }

    .shipping-info {
      width: 180px;
      text-align: center;
    }
    .ordered-price {
      width: 220px;
      text-align: center;
    }
  }

  .cart-data-box {
    .cart-data {
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #b8b8b8;

        .info-left {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .check-goods {
            margin: -50px 8px 0 0;
          }

          img {
            width: 100px;
            height: 132px;
            margin-top: 25px;
            margin-right: 25px;
            background-color: black;
          }
          .goods-infomation {
            .info-title {
            }
            .info-detail {
            }
            .info-option {
            }
            .option-quantity-change {
            }
          }
        }
        .info-middle-right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .info-middle {
            .free-delivery {
            }
            .release {
            }
          }
          .info-right {
            .total-price {
            }
            .buy-now {
            }
          }
        }
        .delete-goods {
        }
      }
      .order-amount-box {
        .left-sub-box {
          .left-title {
          }
          .left-sub-title {
          }
        }
        .right-sub-box {
          .price {
          }
          .shipping {
          }
        }
      }
    }
  }

  .bottom-order-amount-box {
    .amount-header {
    }
    .total-amount {
      .goods-amount-price {
        .amount-price {
        }
        .price-text {
        }
      }
      .amount-delivery {
        .delivery-price {
        }
        .delivery-text {
        }
      }

      .amount-discount {
        .discount-price {
        }
        .discount-text {
        }
      }
      .total-amounts {
        .total-amounts-price {
        }
        .total-amounts-text {
        }
      }
      .amount-sign-box {
        .amount-sign {
        }
      }
    }
    .order-button {
      width: 255px;
      height: 55px;
      background-color: #111;
      color: #fff;
    }
  }
}
