// footer

.footer {
  background-color: #f5f5f5;
  font-size: 14px;

  .footer-nav-area {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;

    .inner {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      height: 100%;
      margin: 0 auto;

      .footer-article-nav {
        display: flex;
        align-items: center;
        height: 100%;

        .article-nav-first {
          display: flex;
          align-items: center;

          li {
            padding: 5px 10px 5px 0px;
          }
        }

        .article-nav-first::after {
          content: '|';
          color: #e5e5e5;
        }

        li {
          display: inline-block;
          padding: 5px;

          a {
            color: #767676;
          }

          .article-privacy {
            color: #000;
            font-weight: bolder;
          }
        }

        .article-nav-second {
          padding: 5px;
        }
      }

      .footer-quick-nav {
        display: flex;
        align-items: center;
        height: 100%;

        li {
          display: inline-block;
          padding: 5px;

          a {
            color: #767676;
          }
        }
      }
    }
  }

  .footer-company-area {
    width: 100%;
    height: 360px;
    padding-top: 20px;

    .inner {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 1280px;
      margin: 0 auto;

      .info-desc {
        width: 100%;
        margin-bottom: 60px;
        font-size: 12px;

        h1 {
          margin-bottom: 10px;
          font-size: 12px;
        }

        .info-ul {
          width: 100%;
          margin-bottom: 5px;

          li {
            display: inline-block;
            color: #767676;

            a {
              color: #000;
              padding: 0px 0px 0px 5px;
              text-decoration: underline;
            }
          }

          li:after {
            content: '|';
            color: #e5e5e5;
            padding: 0px 10px 0px 10px;
          }

          li:last-child:after {
            content: '';
          }
        }

        p {
          color: #767676;
          margin-bottom: 5px;

          a {
            color: #000;
            text-decoration: underline;
          }
        }

        .info-number {
          color: #000;

          em {
            padding: 0px 3px 0px 3px;
          }
        }

        .footer-copy-right {
          margin-top: 20px;
          font-size: 10px;
        }
      }
    }

    .footer-etc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .footer-etc-certification {
        color: #767676;
        font-size: 12px;

        li {
          display: inline-block;
        }

        li:after {
          content: '|';
          color: #767676;
          padding: 0px 5px 0px 5px;
        }

        li:last-child:after {
          content: '';
        }
      }

      .footer-etc-media {
        button {
          background-color: transparent;
          padding: 0px 5px 0px 5px;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
