@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

.header {
  background-color: #fff;

  .user-info-area {
    background-color: #000;
    height: 40px;

    .inner {
      display: flex;
      align-items: center;
      max-width: 1280px;
      height: 100%;
    }

    .user-info {
      width: 100%;
      display: flex;
      justify-content: end;

      a {
        color: #fff;
        font-size: 12px;
        padding: 0px 0px 0px 20px;
      }
    }
  }
}

.gnb-area {
  width: 100%;
  border-bottom: 1px solid #000;

  .wcf-logo {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    color: #7e00ff;
  }

  .gnb-wrap {
    height: 70px;
    background-color: #fff;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      min-width: 1280px;

      .aside {
        padding-left: 80px;
        color: #000;

        .util {
          display: flex;
          flex-direction: row;
        }

        img {
          width: 25px;
          height: 25px;
          margin: 0px 0px 0px 25px;
        }
      }
    }
  }

  .category-wrap {
    position: relative;
    height: 50px;
    border-top: 1px solid #f5f5f5;

    .inner {
      display: flex;
      color: #111111;
      height: 100%;

      .category {
        display: flex;
        justify-content: center;
        height: 50px;

        .main-category {
          display: flex;
          align-items: center;
          height: 100%;

          //gnb
          .gnb {
            height: 100%;
            display: flex;
            align-items: center;

            & > li {
              height: 100%;
              display: inline-block;
              font-size: 14px;
              padding: 0px 15px 0px 0px;

              &:hover {
                .nav-dropdown {
                  display: block;
                }

                a {
                  color: #000;
                }
              }

              & > a {
                display: block;
                height: 100%;
                line-height: 48px;
                color: #767676;
              }
            }
          }

          .nav-dropdown {
            display: none;
            position: absolute;
            height: 70px;
            top: 49px;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 10px 0px 0px 0px;

            .nav-list {
              width: 100%;

              .ctg-list {
                display: flex;
                flex-direction: row;
                height: 100%;

                .ctg-dropdown {
                  margin-bottom: 10px;
                  padding: 0px 20px 0px 0px;
                  a {
                    color: #000;
                  }
                }
              }
            }
          }
        }

        //special-list
        .special-list {
          display: flex;
          align-items: center;

          li {
            display: inline-block;
            font-size: 14px;
            padding: 0px 15px 0px 0px;
          }
        }

        .special-category {
          display: flex;
          align-items: center;
          margin-left: 35px;
          height: 100%;
        }
      }

      .search-bar {
        width: 310px;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        right: 18px;

        img {
          width: 25px;
          height: 25px;
        }

        input {
          width: 100%;
          padding: 10px;
        }

        input:focus {
          outline: none;
        }
      }
    }
  }
}
